@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .heading {
    @apply flex h-screen flex-col items-center justify-center gap-5 p-10 text-center;
  }
  .header {
    @apply font-gagalin-sans text-5xl transition-transform sm:w-full md:w-4/5 md:text-6xl;
  }
  .buttonPrimary {
    @apply rounded-[1.5rem] bg-white px-3 py-2 text-black transition-transform ease-linear hover:scale-105 sm:px-4 sm:py-3;
  }

  .buttonSecondary {
    @apply rounded-[1.5rem] border border-solid border-white px-3 py-2 text-white transition-transform hover:scale-105 sm:px-4 sm:py-3;
  }

  .search-form {
    @apply relative flex w-full flex-1 items-center transition-transform ease-linear;
  }

  .search-input {
    @apply w-full rounded-[1.5rem] border border-solid border-white bg-[#121212] px-3 py-2 text-white;
  }

  .search-btn {
    @apply absolute right-3 transition-transform ease-linear hover:scale-110;
  }

  .ideas-container {
    @apply m-auto max-w-screen-xl p-5;
  }

  .card-grid {
    @apply grid items-start gap-5 sm:grid-cols-2 md:grid-cols-3 xl:grid-cols-4;
  }

  .idea-card {
    @apply flex flex-col justify-between rounded-xl border border-white shadow-lime-400 transition-all duration-200 ease-in hover:z-10 hover:-translate-y-5 hover:bg-[#181818] hover:shadow-2xl;
  }
}

@layer base {
  .light {
    --background: 0 0% 100%;

    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;

    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;

    --popover-foreground: 240 10% 3.9%;

    --primary: 240 5.9% 10%;

    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;

    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;

    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;

    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;

    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;

    --input: 240 5.9% 90%;

    --ring: 240 10% 3.9%;

    --chart-1: 12 76% 61%;

    --chart-2: 173 58% 39%;

    --chart-3: 197 37% 24%;

    --chart-4: 43 74% 66%;

    --chart-5: 27 87% 67%;

    --radius: 0.5rem;
  }
  :root {
    --background: 240 10% 3.9%;

    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;

    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;

    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;

    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;

    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;

    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;

    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;

    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;

    --input: 240 3.7% 15.9%;

    --ring: 240 4.9% 83.9%;

    --chart-1: 220 70% 50%;

    --chart-2: 160 60% 45%;

    --chart-3: 30 80% 55%;

    --chart-4: 280 65% 60%;

    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
